<div class="container" >
 
 <div class="row" >
 	<div class="col-sm-4"></div>
 	<div class="col-sm-4">
       <div style="text-align: center;color: #6b0000;font-weight: bold;font-size: 18px;">Alert Add/Update Screen</div></div>
       <div class="col-sm-4"></div>
   </div> 
   <div class="row" style="background-color: #6b0000;">
   	<div class="col-sm-12">
   		<div style="color: white;">Add and update The Alerts</div>
   	</div>
   </div>  
    <div class="row">
    	<div class="col-sm-12">
        <form>
        	 <div class="form-group">
                 <div class="col-xs-2">
			         <label for="sel1">Alert</label>
			          <select class="form-control" id="sel1">
			            <option *ngFor="let alert of alertslist" value= {{alert.id}}>
						    {{alert.name}}
						   </option>
			          </select>
		          </div> 
              </div>
               <!-- <button type="submit" class="btn btn-default">Submit</button> -->
   
       </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> 
         <div class="col-xs-6">
            <label for="AlertName">Alert Name</label>
            <input type="text" class="form-control" id="AlertName" placeholder="Alert Name">
      </div>
      
    </div> 
     
  </div>
  <div class="row">
  	<div class="col-sm-6">
  		   <div class="col-xs-6">
				    <label for="StartDate">Start Date</label>
				    <input type="text" id="datetimepicker" class="form-control" placeholder="Start Date">
			</div>
  	</div> 
  	<div class="col-sm-6">
  		     <div class="col-xs-6">
				    <label for="UserName">End Date</label>
				    <input type="text" id="datetimepicker1" class="form-control" placeholder="End Date">
			 </div>
  	</div> 
  </div>

    <div class="row">
 
  	<div class="col-sm-12">
  		     <div class="col-xs-6">
				  <form>
					  <div class="form-group">
					    <label for="AlertDescription">Alert Description</label>
					     <textarea class="form-control" rows="4" id="AlertDescription"></textarea>
					   </div>
				 </form>   
			 </div> 
  	</div> 
  	<div class="row">
  	<div class="col-sm-12">
  		<div class="col-xs-4">
  			
  		</div>
  		<div class="col-xs-1">
  			<button type="submit" class="btn btn-success">Save</button>
  		</div>
  		<div class="col-xs-1">
  			<button type="submit" class="btn btn-danger">Delete</button>
  		</div>
  	</div>
  	</div> 
  </div>

</div>