 <nav class="navbar navbar-default" style="background-color:#6b0000;height: 50px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<img src="./assets/wells-fargo.png" height="60vh;" style="height:48px;">--> <a class="navbar-brand" href="#" style="color:white;">Wells Forgo</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color: white">Logout <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li> 
          </ul>
        </li>
      </ul> 
  </div>
</nav>
<nav class="navbar navbar-default">
  <div class="container-fluid">    
    <div class="navbar-header">      
      <a class="navbar-brand" title="Bill Viewer" style="padding:0px 0px;"> <img src="./assets/wells-fargo.png" height="60vh;" style="height:48px;"> <a class="navbar-brand" href="#" style="color:white;"></a></a>
    </div> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color:#777">ADMIN<span class="caret"></span></a>
          <ul class="dropdown-menu">            
		    <li><a routerLink="/search" routerLinkActive="active">Health Check Maintenance</a></li>
		   <!--  <li><a routerLink="/calc" >Calculate</a></li> -->
		    <li><a routerLink="/useradmin">User Administration</a></li>
		    <li><a routerLink="/alertadd">Alert Add/Update Screen</a></li>
		    <li><a routerLink="#">Bill Viewer Error Search</a></li>		     
          </ul>
        </li>

        <li><a href="#">LPS AUDIT VIEWER</a></li>
        <li><a href="#">LPS ERROR VIEWER</a></li>
        <li><a href="#">UTILIZATION</a></li>
        <li><a href="#">SUPORT</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>