<div class="container" >
 
 <div class="row" >
 	<div class="col-sm-4"></div>
 	<div class="col-sm-4">
       <div style="text-align: center;color: #6b0000;font-weight: bold;font-size: 18px;"> User Administration</div></div>
       <div class="col-sm-4"></div>
   </div> 
   <div class="row" style="background-color: #6b0000;">
   	<div class="col-sm-12">
   		<div style="color: white;">Choose a user,modify the user,then press update</div>
   	</div>
   </div>  
    <div class="row">
    	<div class="col-sm-12">
        <form>
        	 <div class="form-group">
                 <div class="col-xs-6">
			         <label for="sel1">User Name</label>
			          <select class="form-control" id="sel1">
			            <option *ngFor="let user of users" value= {{user.id}}>
						    {{user.name}}
						   </option>
			          </select>
		          </div> 
              </div>
               <!-- <button type="submit" class="btn btn-default">Submit</button> -->
   
       </form>
    </div>
  </div>
  <div class="row">
  	<div class="col-sm-6">
  		   <div class="col-xs-6">
				    <label for="UserID">User ID</label>
				    <input type="text" class="form-control" id="UserID" placeholder="Enter User ID">
			</div>
  	</div> 
  	<div class="col-sm-6">
  		     <div class="col-xs-6">
				    <label for="UserName">User Name</label>
				    <input type="text" class="form-control" id="UserName" placeholder="Enter User Name">
			 </div>
  	</div> 
  </div>

    <div class="row">
  	<div class="col-sm-6">
  		   <div class="col-xs-6">
				    <label for="sel1">Authority Level</label>
			          <select class="form-control" id="sel1">
			            <option *ngFor="let user of users" value= {{user.id}}>
						    {{user.name}}
						   </option>
			          </select>
			</div>
  	</div> 
  	<div class="col-sm-6">
  		     <div class="col-xs-6">
				    <label for="sel1">Data Domain</label>
			          <select class="form-control" id="sel1">
			            <option *ngFor="let user of users" value= {{user.id}}>
						    {{user.name}}
						   </option>
			          </select>
			 </div>
  	</div>
  	<div class="col-sm-12">
  		     <div class="col-xs-6">
				  <form>
					  <div class="form-group">
					    <label for="comment">Comment:</label>
					     <textarea class="form-control" rows="4" id="comment"></textarea>
					   </div>
				 </form>   
			 </div>
			 
  	</div> 
  	<div class="row">
  	<div class="col-sm-12">
  		<div class="col-xs-4">
  			
  		</div>
  		<div class="col-xs-1">
  			<button type="submit" class="btn btn-success">Save</button>
  		</div>
  		<div class="col-xs-1">
  			<button type="submit" class="btn btn-danger">Delete</button>
  		</div>
  	</div>
  	</div> 
  </div>

</div>