  
    <div class="row">
       <div style="text-align: center;color: #6b0000;font-weight: bold;font-size: 18px;"> List of Current Health Check Operations</div>
   </div> 
    <div class="row">
    	<div class="col-sm-2"></div>
      <div class="col-sm-8">
      	  <table class="table table-bordered">
		    <thead style="background-color:#6b0000;color:white;">
		      <tr>
		        <th>Id</th>
		        <th>Provider</th>
		        <th>Service</th>
		        <th>Operation</th>
		        <th>Template Description</th> 
		        <th>Action</th> 
		      </tr>
		    </thead>
		    <tbody *ngFor = 'let lst of appList'>
		      <tr>
		        <td>{{lst.ID}}</td>
		        <td>{{lst.Provider}}</td>
		        <td>{{lst.Service}}</td> 
		        <td>{{lst.Operation}}</td> 
		        <td>{{lst.Template}}</td>
		        <td><u><a routerLink="/search">EDIT</a></u></td>  
		      </tr> 
		    </tbody>
		 </table>
      </div>
     <div class="col-sm-2"></div>
  </div>